.button-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    width: 60%;
    padding: 0;
  }
  
  .button-container .btn {
    height: 80px;
    width: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: var(--text-pri);
    overflow: hidden;
  }
  
  .button-container a {
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 18px;
    text-decoration: none;
    text-align: center;
  }

  /* Button 1*/
  .button-container .btn.pri {
    border: 2px solid var(--color-sec);
    border-radius: 20px;
    transition: border-color 0.2s ease, background-color 0.2s ease;
  }
  
  .button-container .btn.pri:hover {
    background-color: rgba(153, 102, 255, 0.5); /* Ubah warna latar menjadi ungu dengan opacity 50% */
  }
  
  .button-container .btn.pri::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 0%;
    left: 0;
    transition: width 0.4s ease;
    background-color: rgba(255, 255, 255, 0.274);
  }
  
  .button-container .btn.pri::before {
    transition-delay: 0.2s;
  }
  
  .button-container .btn.pri::after {
    transition-delay: 0s;
  }
  
  
  .button-container .btn.sec {
    border: 2px solid var(--color-sec);
    border-radius: 20px;
    transition: border-color 0.2s ease, background-color 0.2s ease;
  }

  /* Button 2*/
  .button-container .btn.sec:hover {
    background-color: rgba(153, 102, 255, 0.5); /* Ubah warna latar menjadi ungu dengan opacity 50% */
  }
  
  .button-container .btn.sec::after {
    position: absolute;
    content: '';
    height: 100%;
    width: 0%;
    left: 0;
    transition: width 0.4s ease;
    background-color: rgba(255, 255, 255, 0.274);
  }
  
  .button-container .btn.sec::before {
    transition-delay: 0.2s;
  }
  
  .button-container .btn.sec::after {
    transition-delay: 0s;
  }

  @media (max-width: 996px) {
    .btn.pri {
        margin-right: 20px;
    }
  }

  @media (max-width: 768px) {
    .button-container a {
        font-size: 12px;
    }
  }